:root {

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    list-style: none;
    scrollbar-width: thin;
    /* background-color: #141414; */
    /* color: white; */
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
  }

}